.entity-reference-tree-button,
.no-entity-reference-tree-button {
  width: 16px;
  height: 16px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-right: 4px;
}

.entity-reference-tree-button {
  background-image: url("images/bullet_toggle_minus.png");
}

.no-entity-reference-tree-button {
  background-color: #ddd;
}

.entity-reference-tree-button.entity-reference-tree-collapsed {
  background-image: url("images/bullet_toggle_plus.png");
}

.form-type-checkbox-tree .error {
  background-image: none;
  border: 2px solid red;
  padding: 3px;
}

.region-content ul.entity-reference-tree-level,
.entity-reference-tree-level
{
  padding: 0;
}

/*
 * Styles for track list of selected options.
 */ 
.entity-reference-tree-track-list li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 10px;
  padding-left: 20px;
  min-height: 16px;
  cursor: pointer;
}

.entity-reference-tree-track-list li.track-item:hover {
  color: red;
  background-image: url("images/bullet_delete.png");
  background-repeat: no-repeat;
  background-position: middle left;
}

.entity-reference-tree-track-list li.term_ref_tree_nothing_message {
  list-style-type: none;
  list-style-image: none;
  font-style: italic;
  cursor: default;
}

.entity-reference-track-list-container {
  padding: 5px;
}

.entity-reference-track-list-label {
  font-weight: bold;
}

/*
 * Styles for display element
 */
.entity-tree-list ul.entity li.selected {
  font-weight: bold;
}

.entity-tree-list ul.entity li.unselected {
  font-weight: normal;
}

.entity-tree-list ul.entity  {
  margin-top: 0;
}
