.item-list .field-widget-entityreference-term-tree ul,
.block .field-widget-entityreference-term-tree ul,
.field-widget-entityreference-term-tree ul
{
  list-style-type: none; 
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.item-list .field-widget-entityreference-term-tree ul ul,
.block .field-widget-entityreference-term-tree ul ul,
.field-widget-entityreference-term-tree ul ul
{
  margin-left: 1.5em;
}

.item-list .field-widget-entityreference-term-tree ul .form-item,
.block .field-widget-entityreference-term-tree ul .form-item,
.field-widget-entityreference-term-tree ul .form-item {
  margin: 0;
  padding: 0;
}

.field-widget-entityreference-term-tree .form-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.field-widget-entityreference-term-tree .disabled {
  opacity: .5;
}

.field-widget-entityreference-term-tree .parent-term {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: bold;
}

/*
 * Styles for display element
 */
.field-type-entityreference ul.links .entity-tree-list ul.entity li {
  float: none;
}
